doctype html
html
  head
    title= title
    //script(src="https://cdn.auth0.com/js/auth0/8.9.0/auth0.min.js")
    script(src="https://cdn.auth0.com/js/auth0/9.17.0/auth0.min.js")
    script.
      var auth0 = new auth0.WebAuth({
        domain: '#{env.AUTH0_DOMAIN}',
        clientID: '#{env.AUTH0_CLIENT_ID}',
        redirectUri: '#{env.AUTH0_CALLBACK_URL}',
        responseType: 'code'
      });
      auth0.crossOriginAuthenticationCallback();