extends layout

block content
  section.jumbotron.theme-dark
    .circle-logo(data-name="nodejs")
      .logo
      h3
        |  Node.js
    h1 Cross Origin Demo
    .try-banner
      span Don't have an account yet?
      a.btn.btn-success.btn-lg(href="https://auth0.com" target="_blank") Try Auth0 for Free
