doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Auth0 Cross Origin Login
    //if IE 8
      script(src='//cdnjs.cloudflare.com/ajax/libs/ie8/0.2.5/ie8.js')
    //if lte IE 9
      script(src='https://cdn.auth0.com/js/polyfills/1.0/base64.min.js')
      script(src='https://cdn.auth0.com/js/polyfills/1.0/es5-shim.min.js')
    link(href='https://cdn.auth0.com/styleguide/4.8.33/index.min.css', rel='stylesheet')
    //link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='./css/style.css')

  body
    include header
    block content
